[Unit]
Description=Gunicorn instance to serve AirBnB_clone
After=network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/airbnb_clone/airbnb_clone.pid
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStartPre = /bin/mkdir /run/airbnb_clone
ExecStartPre = /bin/chown -R ubuntu:ubuntu /run/airbnb_clone
ExecStart = /usr/bin/env HBNB_MYSQL_USER=hbnb_dev HBNB_MYSQL_PWD=hbnb_dev_pwd HBNB_MYSQL_HOST=localhost HBNB_MYSQL_DB=hbnb_dev_db HBNB_TYPE_STORAGE=db gunicorn --workers 3 web_dynamic.2-hbnb:app -bind 0.0.0.0:5003 --pid /run/airbnb_clone/airbnb_clone.pid >> /tmp/airbnb-access.log 2> /tmp/airbnb-error.log
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/airbnb_clone
PrivateTmp = true

[Install]
WantedBy=multi-user.target
